body {
    background-color: blueviolet;
    background-image: url("../imagemRobo.jpg");
    background-repeat : no-repeat;
    background-size: 50%;
   



}

main{

background-color: rgba(red, green, blue, alpha);
padding: 5px 40px;
margin-top: 20px;
border-radius: 10px;

}
